.footer {
    margin-top: 150px;
}
.navigation {
    background-color: #000;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    padding: 20px;

    .inner_heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        .payoff {
            justify-content: flex-end;
            display: flex;
            flex-direction: row;
            align-content: center;
            min-height: 100%;
            flex-wrap: wrap;
    
            p {
                margin: 0;
                color: #ffffff;
                font-weight: bold;
                font-size: 19px;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
            img {
                width: 180px;
            }

            .payoff {
                p {
                    font-size: 15px;
                }
            }
        }

    }
}