.icons_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        a {
            display: flex;
            gap: 15px;
            padding: 10px 15px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #000000;
            align-items: center;
        }
        
        border-radius: 8px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #f4f4f4;
        }

        &.active_menu {
            background-color: orange;
            a {
                color: #ffffff;
            }
            img {
                filter: invert(1);
            }
        }
    }
}