body,
html {
  height: 100%;
}

.former_row .text-danger {
  font-size: 12px;
}

body {
  background-color: #f0f0f0;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  background-color: orange;
  border-color: orange;
}

.logo_container {
  img {
    width: 160px;
    height: auto;
    @media (max-width: 768px) {
      max-width: 120px;
      height: auto;
    }
  }
}

.single_product_container {
  position: relative;

  .change_product {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0 10px 0 10px;
    font-size: 13px;
    gap: 6px;
    @media (max-width: 992px) {
      padding: 10px 13px;
    }
  }
}

.business_intellicence_card {
  border: 3px solid #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);

  .bi_title {
    font-size: 18px;
    font-weight: bold;

    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
  }
  .bi_icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  .group_bi_icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .value_bi {
    font-size: 25px;
  }

  .infopoint_bi {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    font-size: 14px;
    color: #959595;
  }
}

.button_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 768px) {
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
}

.single_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &.card_review {
    @media (max-width: 992px) {
      padding: 20px;
    }
  }

  @media (max-width: 992px) {
    padding: 40px 20px 20px 20px;
  }
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    border-color: #dfdfdf;
  }

  .metadata_product {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }

  .title_product {
    font-size: 18px;
    font-weight: bold;
  }

  .calm_gray {
    color: #000;
  }

  .fromto {
    align-items: center;
    display: flex;
    gap: 15px;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      display: flex;
      gap: 3px;
    }
  }

  @media (max-width: 992px) {
    align-items: stretch;
    flex-direction: column;
  }
}

.specifict_travel {
  display: flex;
}

.proce_product {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }
}

.centered_all {
  display: grid;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  p {
    background: rgba(255, 166, 0, 0.31);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .price_and_change {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
  }
}

.order_data {
  display: flex;
  flex-direction: column;
  gap: 10pz;
  gap: 8px;
  width: 100%;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 6px;
}

.module_invert_direction {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #cccccc;
  padding: 5px 19px 5px 5px;
  border-radius: 7px;
  cursor: pointer;

  &.no_driver {
    border-color: red;
    color: red;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
    
    .change_direction {
      border-color: red;
    }

  }

  .change_direction {
    border: 1px solid #ccc;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: #f4f4f4;
  }
}

.step_wizard {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
  align-items: center;

  &.step_disabled {
    .number_step {
      background-color: #cccccc;
    }
    .text_step {
      h4 {
        color: #cccccc;
      }
      p {
        color: #cccccc;
      }
    }
  }

  .number_step {
    width: 60px;
    height: 60px;
    background: orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    border-radius: 100%;
    flex-shrink: 0;
  }

  .text_step {
    h4 {
      margin: 0;
    }
    p {
      color: #939393;
      margin: 0;
    }
  }
}

.p-calendar {
  width: 100%;

  th {
    text-align: center;
  }
}

.modal-header {
  border-top: 6px solid #ffa500;
}

.single_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
  border-radius: 10px;
  border: 3px solid #fff;
  flex-direction: row;
  background-color: #ffffff;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  .row_end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: 768px) {
      padding-top: 20px;
      border-top: 1px solid #ccc;
      margin-top: 20px;
      justify-content: space-between;
    }
    .pills_sistem {
      background-color: rgba(255, 166, 0, 0.27);
      padding: 1px 10px;
      border-radius: 100px;
      font-size: 13px;
      font-weight: bold;

      &.disabled_user {
        background-color: transparent;
        border: 1px solid red;
        color: red;
      }
    }
  }

  .global_listing {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
      border: 1px solid #ccc;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 35px;
        height: auto;
      }
    }

    .single_person {
      .name_person {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.header_add_remove {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;

  .label_counter {
    font-weight: bold;
  }
}

.empty_list {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 100px;
  border-radius: 15px;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 60px;
  }

  img {
    width: 45px;
    height: auto;
  }

  p {
    font-weight: bold;
  }
}

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// .loader_container, .empty_list {
//     display: none;
// }
