a {
    &.linker {
        color: orange;
        text-decoration: none;

        &:hover {
            color: rgb(255, 128, 0);
        }
    }
}

.message_container {
    color: #333333;
    border-left: 3px solid orange;
    background-color: rgba(255, 166, 0, 0.067);
    padding: 20px;
    margin-bottom: 30px;
    p {
        margin: 0
    }
}

.order_number {
    color: orange;
}